/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-1-10, 15:57:48
    Author     : Admin
*/

a{text-decoration: none;color:blue;}

body{
    margin: 0px;
    padding: 0px;
}